<div class="container">
  <div class="user-details">
    <h3> Featured Projects </h3>
  </div>
    <div class="row user-projects">
    <div class="six columns">
      <img height="420" width="420" alt="reddoorz_image" src="{{ "https://res.cloudinary.com/rahulpurohit/image/upload/v1565966947/2618_logo_39f1615b_sa92ia.png" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5> Reddoorz </h5>
      <ul>
        <li> Featured Skills:Ruby on Rails,Postgresql,Redis,Elastic Search,Heroku</li>
      </ul>
      <p>RedDoorz is a platform offering budget accommodations across key business and tourist destinations in Southeast Asia.</p>
      <p>- Product Enhancement Features in booking budget lodging.</n>
- Google Hotels Ads integration with Price feed & redirection to site.
- Module to Track visits and events in Rails, JavaScript, and native apps. Data is stored in your database by default so you can easily combine it with other data.
- Application to scarps hotel in maps and rate based on their nearest amenities.
</p>
      <a class="project-link" href="http://www.reddoorz.com">Check it out</a>
    </div>
  </div>
  <div class="row user-projects">
    <div class="six columns images">
      <img height="420" width="420" alt="coopex_image" src="{{ "https://res.cloudinary.com/rahulpurohit/image/upload/v1565966284/Dh5i3esVMAEc8Z7_qnpmxf.jpg" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5> COOPEX(Beta)</h5>
      <li> Featured Skills: Ruby on Rails,RDS-Postgres,Redis,AWS,RabbitMQ,Bitcoind</li>
      <p>COOPEX stands for the COOPerative EXchange, and we are a new, hybrid decentralized cryptocurrency exchange that is focused on rewarding exchange users and traders for their loyalty, along with exchange growth.COOPEX is launched an ICO for the COOP exchange token.Its is based on Peatio open-source crypto currency exchange implementation with the Rails framework and other cutting-edge technology. </p>
      <a class="project-link" href="https://coopex.market/">Check it out</a>
    </div>
  </div>
  <div class="row user-projects">
    <div class="six columns">
      <img height="420" width="420" alt="citysaga_image" src="{{ "https://0.rc.xiniu.com/g2/M00/AE/F7/CgAGe1tfArOAEaRzAATvUJFa_qs432.jpg" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5> UBI Blockchain </h5>
      <ul>
        <li> Featured Skills:Ruby on Rails,Postgresql,Redis,Ethereum Blockchain,SendCloud,Alibaba Cloud Server</li>
      </ul>
      <p>Universal Blockchain Internet is an OTCQB listed company registered in the United States.
      Headquartered in Hong Kong, we have offices in Shenzhen, New York, and London.The company has four areas of operation: blockchain technology, internet of things (IoT), the stock market, and biomedical technology. Our focus is on food and drugs safety.</p>
      <a class="project-link" href="http://www.globalubi.com">Check it out</a>
    </div>
  </div>
  <div class="row user-projects">
    <div class="six columns images">
      <img height="420" width="420" alt="swoopos_image" src="{{ "/assets/img/SWOOPOS.jpg" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5> Swoopos </h5>
      <li> Featured Skills: Ruby on Rails,RDS-Postgres,Redis,AWS,Capistrano</li>
      <p>MPOS basicaly stands for Mobile Point of Sale.MPOS is a Store's,Inventories,Offers & User's Management tool for Merchant based on the concept of Becon.Web Application and mobile application both managed through it.MPOS is an application which is being controlled with the becon sysytem to through offers in user app's with concept of Beacon.</p>
      <a class="project-link" href="https://www.swoopos.com">Check it out</a>
    </div>
  </div>
  <div class="row user-projects">
    <div class="six columns">
      <img height="320" width="320" alt="citysaga_image" src="{{ "/assets/img/CitySaga.jpg" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5> City Saga </h5>
      <ul>
        <li> Featured Skills: Api's in Django,Python,Admin Panel,RDS-Postgres,Heroku</li>
      </ul>
      <p>CITY SAGA is the next step in experiencing place, a unique digital window that shares the story of a community by letting users see into the past, present, and future, making more places welcoming and accessible to residents and visitors.It also provides a responsive and easily customizable way to learn the stories of place on location, utilizing, historic images and text, audio, to present an augmented experience while navigating the physical environment.</p>
      <a class="project-link" href="https://itunes.apple.com/us/app/city-saga/id1095327542?mt=8">Check it out</a>
    </div>
  </div>
    <div class="row user-projects">
    <div class="six columns images">
      <img height="420" width="420" alt="swoopos_image" src="{{ "http://www.upstart.net.au/wp-content/uploads/2018/03/Screen-Shot-2018-03-13-at-11.02.22-AM.png" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5> Avaana </h5>
      <li> Featured Skills: Python,Django,Angular,RDS-Postgres,Websocket,Redis,AWS,Capistrano</li>
      <p>Avaana is Australia's premier health, fitness & wellbeing marketplace that connects you with quality practitioners around Australia.BOOK DIRECTLY into the calendar of your preferred practitioner IN REAL TIME & FROM ANYWHERE. Business & practitioner profiles assist with the decision making process as does proximity of the practitioner to you.</p>
      <a class="project-link" href="https://avaana.com.au/">Check it out</a>
    </div>
  </div>
  <div class="row user-projects">
    <div class="six columns">
      <img height="320" width="320" alt="citysaga_image" src="{{ "https://res.cloudinary.com/rahulpurohit/image/upload/v1565966541/0c579292350f7e79b8436593ff8788ec_400x400_pxfarr.jpg" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5> Foodtap(Beta in California) </h5>
      <ul>
        <li> Featured Skills: Api's in Ruby on Rails,RDS-Postgres,Heroku</li>
      </ul>
      <p>FoodTap lets you find the best food near you by rank, not restaurant star rating. Everyone knows about a hidden gem of a restaurant. FoodTap lets you find them in one simple, easy to use app.</p>
      <a class="project-link" href="http://www.foodtap.com">Check it out</a>
    </div>
  </div>
</div>
